## General Exclusions
# Database files
*.db
*.mv
# This will exclude any cache folder in any directory
cache/
backup/
database/
data/
userdata/
mysql.yml
MySQL.yml
sql.yml
SavedData/

## Plugin Specific Exclusions
/BetonQuest/config.yml
/CalebCompass/players.yml
/CMI/dataBaseInfo.yml
/CMI/moneyLog/
/CMI/sellLogs/
/Denizen/saves.yml
/DiscordSRV/linkedaccounts.json
/BossShopPro/BugFinder.yml
/EpicHeads/
/LibsDisguises/GameProfiles/
/MythicMobs/SavedData/
/MythicMobs/Spawners/
